.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--shade-900) 80%, var(--shade-600) 100%);
}

.card {
  font-size: 1.2rem;
  height: 20em;
  width: 70ch;
  border: 1px solid var(--shade-200);
  border-radius: 0.25em;
  box-sizing: border-box;
  padding: 0.5em;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.inner-container {
  flex: 0 0 50%;
  height: 60%;
  padding: 1.2em;
}

.inner-container.inner-container--wide {
  flex: 0 0 100%;
  height: 40%;
}


.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
}

input.small {
  width: 15ch;
}
